@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
	justify-content: center;
}
